
 <div class="container">

  <nav class="navbar navbar-expand-sm bgcol navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" routerLink="/">S.L.N. Enterprises</a>
    
    <!-- Links -->
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav ">
         <li class="nav-item">
              <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
        
        <li class="nav-item" *ngIf="isAdmin" style="cursor: pointer;">
          <a class="nav-link" (click)="logout()">LogOut</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact" style="font-size:20px;">Contact Us: 9980459320</a>
        </li>
    </ul>
  </nav>

  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
        
  
  
</div>
  


  

  
